.search-bar {
  padding: 10px 25px 10px 25px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 5px 7px;
  border: 0;
  box-sizing: border-box;
  /* width 의 크기를 200으로 지정할때 padding 20 설정하더라도 width 200이 되어버림
  padding 값을 제대로 넣어서 동작하려면 해당 방법을 써야함  */
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
}

.search-bar input:focus {
  outline: none; /* 파란색으로 보이는 아웃라인 삭제 */
}

.search-bar i {
  position: absolute;
  color: #d1d1d1;
  top: 15px;
  left: 40px;
}
